main {
	/*margin-top: 51px;*/
}
nav.navbar {
	background: rgb(3, 97, 164);
}
nav.navbar a {
	color: white !important;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
}
nav.navbar li:hover a {
    background: #4E9DD5 !important;
    color: #E7E7E7 !important;
}
nav.navbar li.active:hover a,
nav.navbar li.active a {
	background: #E7E7E7 !important;
	color: #00538D !important;
}
.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.bg-fade {
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
}